<launch>
  <node name="hk_camera_node" pkg="hk_camera" type="hk_camera_node" output="screen" >
    <!-- <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="camera_frame_id" value="usb_cam" /> -->
  </node>
  <node 
    pkg="rviz"
    type="rviz"
    name="rviz"
     args="-d $(find hk_camera)/rviz_cfg/hk_camera.rviz"
  />
 
</launch>
